h1.basic {
  background-color: #f0f0f0;
  color: #000000;
  font-size: 40px;
  border: 2px solid #3498db;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  margin: 30px auto;
}
p.duanluo {
  background-color: #f0f0f0;
  opacity: 0.5;
  color: black;
}
/*呜呜呜，这个按钮到底能不能行*/  
a.an {
  background-color: #4caf50;
  color: #ffffff;
  border: 1px solid: #45a049;
  border-radius: 8px;
  height: 34px;
  weight: 100px;
  /*这个是内边距呢*/
  padding: 16px;
  text-decoration: none;
  /*这个是外边距哦*/
  margin: 10px;
}
/*拜托一定要能行！！！*/
/*边框和圆角弄反了呜呜呜*/
/*因为不知道1像素是多大，大小反反复复调了好几次qwq，但是好像还是很拥挤*/
/*忘记取消下划线了！*/
