h1.basic {
  background-color: #f0f0f0;
  color: #000000;
  font-size: 40px;
  border: 2px solid #3498db;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  margin: 30px auto;
}
p.duanluo {
  background-color: #f0f0f0;
  opacity: 0.5;
  color: black;
}
/*呜呜呜，这个按钮到底能不能行*/  
a.an {
  background-color: #4caf50;
  color: #ffffff;
  border: 1px solid: #45a049;
  border-radius: 8px;
  height: clamp (32px,4vw,40px);
  weight: auto;
  padding: 0 1.2em;
}
/*拜托一定要能行！！！*/
/*边框和圆角弄反了呜呜呜*/
